<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
</head>

<body>
  <div class="principal">
    <div class="wrap">
      <form class="formulario" action="">
        <input type="text" id="tareaInput" placeholder="Write here the task you would like to add">
        <input type="button" class="boton" id="btn-agregar" value="Add a New task">
      </form>
    </div>
  </div>

  <div class="tareas">
    <div class="wrap">
      <ul class="lista" id="lista">

      </ul>
    </div>



    <script src="static/scripts/tasks.js"></script>
</body>

</html>